{
	"ProfilingCPU": false,
	"Port": ":8082",
	"Logpath": "/path/to/file/of/empty/for/stdout/stderr",
	"Loglevel": "warn",
	"Mongo": {
		"Host": "localhost",
		"User": "user",
		"Pass": "",
		"Name": "dbname",
		"Port": 27017
	}
}
